[*.cs]

# IDE0063: 간단한 'using' 문 사용
csharp_prefer_simple_using_statement = false

# IDE0090: 'new(...)' 사용
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0057: 범위 연산자 사용
csharp_style_prefer_range_operator = false
